.broadside {
			background-color: skyblue;
			color: black;
			padding: 30px;
			font-family: arial;
			font-size: 110%;
			}

.otherbroadside {
			background-color: skyblue;
			color: #535353;
			padding: 30px;
			font-family: arial;
			font-size: 110%;
    		}
    		
.otherotherbroadside {
			background-color: skyblue;
			color: gray;
			padding: 30px;
			font-family: arial;
			font-size: 110%;
			}
			
.otherotherotherbroadside {
			background-color: skyblue;
			color: #ededed;
			padding: 30px;
			font-family: arial;
			font-size: 110%;
			}
.navbar {
			position:fixed;
			top:0;
			overflow: hidden;
			background-color: skyblue;
			width: 100%;
			font-family: arial;
			font-size: 150%;
			font-color: black;
			text-align: center;
			padding: 14px 16px;}